apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: webapp
  name: webapp
spec:
  ports:
  - name: "80"
    port: 80
    targetPort: 80
  selector:
    io.kompose.service: webapp
