* {
  box-sizing: border-box;
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

summary {
  font-size: 40px;
}

body {
  margin: 0;
  font-family: 'Nunito';
}

section {
  padding: 0 1em;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
summary::marker {
  content: url(./images/feather-icon\ _\ info.png);
  position: relative;
}

summary {
  list-style: inside;
}
details summary {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #f9f9fc;
  position: relative;
  cursor: pointer;
}

details summary:hover {
  background-color: rgba(28, 203, 255, 0.2);
}

details summary:after {
  content: url(./images/chevron-down.png);
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}
details[open] summary::after {
  transform: rotate(0);
}

h1 {
  font-family: 'Nunito';
  font-size: 68px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.57px;
  text-align: left;
  color: #000;
}

h2 {
  flex-grow: 0;
  margin: 5px 0 6px 6px;
  font-family: Nunito;
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: -0.22px;
  text-align: left;
  color: #000;
}

p {
  width: 605.5px;
  height: 62.9px;
  flex-grow: 0;
  margin: 0 0 0.4px 8.5px;
  font-family: 'Nunito';
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.73px;
  text-align: left;
  color: #000;
}

.Line-4 {
  width: 10px;
  height: 63.3px;
  flex-grow: 0;
  margin: 6px 16.5px 0px 0px;
  transform: rotate(-180deg);
  background-color: #1ccbff;
  border-radius: 5px;
}

.Line-5 {
  width: 10px;
  height: 50px;
  flex-grow: 0;
  margin: 0 6px 0 0;
  transform: rotate(-180deg);
  background-color: #1ccbff;
  border-radius: 5px;
}

.flex {
  display: flex;
  margin-bottom: 41px;
}
.myButton {
  width: 596.9px;
  height: 98px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24.4px;
  margin: 56.2px 1115.2px 312.5px 0px;
  padding: 19.5px 0;
  border-radius: 63px;
  box-shadow: 4.9px -29.2px 34.1px 0 rgba(53, 64, 82, 0.05);
  border: solid 4.9px #1ccbff;
  background-color: #d6f5ff;
}
.myButton:hover {
  background-color: #476e9e;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.visit-text {
  width: 475px;
  height: 59px;
  flex-grow: 0;
  font-family: Nunito;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: 0.19px;
  text-align: center;
  color: #000;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.grid img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 30.1px 16.9px 31.3px 30.1px;
  border-radius: 4px;
  box-shadow: 0 1.9px 5.6px 1.9px rgba(0, 0, 0, 0.15),
    0 1.9px 3.8px 0 rgba(0, 0, 0, 0.3);
  /* background-color: var(--colors-white); */
}

.section-wrapper {
  width: 100%;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#bg-image-mobile {
  width: 100%;
}

.box-paragraph {
  margin-bottom: 24px;
}

.box-paragraph a {
  text-decoration: none;
  color: black;
}

.box-paragraph a:hover {
  text-decoration: underline;
}

.box-paragraph h4 {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.box-paragraph p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.07875px;
  text-align: justify;
  color: #000000;
}

.box-network h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: -0.219429px;
  color: #000000;
  margin: 0;
}

#network-desktop {
  display: none;
}

.network-container {
  display: flex;
}
.network-mobile {
  display: grid;
  width: 100%;
  justify-content: space-around;
  margin-top: 34px;
  padding: 10px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  justify-items: center;
}

.more-networks {
  margin-top: 65px !important;
  text-align: center;
}

.name-networks {
  width: 301.3px;
  height: 45.9px;
  flex-grow: 0;
  margin: 22.6px 0 0;
  font-family: Nunito;
  font-size: 37.7px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  text-decoration: none;
  align-items: center;
}

.homepage {
  flex-direction: row;
}
.header {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 47px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box-desktop {
  display: none;
}

#middle-logo {
  margin-top: 10px;
  margin-left: 5px;
}

.content {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 40px;
}

.footer {
  background-color: #f9f9fc;
  padding-top: 20px;
  padding-bottom: 20px;
}

#box-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#box-right a {
  text-decoration: none;
}

.box-social-media {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}

.box-testnet {
  margin-bottom: 40px;
}

.box-testnet-desktop {
  display: none;
}

.box-column {
  display: flex;
}

.box-column div {
  width: 49%;
  display: flex;
  justify-content: center;
}

.box-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-column ul li {
  text-align: center;
}

.box-column ul a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

.testnet-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.eos-costa-rica {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

#contact-us {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0595px;
  color: #000000;
  margin: 0;
  padding: 12px;
  margin-bottom: 36px;
}

.project-by {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  margin-left: 10px;
}

.logo-text {
  display: flex;
  padding: 10px;
  align-items: center;
}

.testnet-title {
  text-align: center;
}

#copyright {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 36px;
}

#copyright-desktop {
  display: none;
}

#bg-image {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-top: 67px;
  }

  .image-box {
    display: none;
  }

  .network-mobile {
    display: none;
  }

  .image-box-desktop {
    display: flex;
  }

  .image-box-desktop img {
    width: 605px;
    height: 264px;
  }

  #network-desktop {
    display: flex;
    justify-content: space-around;
    /* margin-top: 23px; */
  }

  #network-mobile > a {
    display: flex;
    flex-direction: column;
  }

  #network-desktop > a:hover {
    color: grey;
    text-decoration: none;
  }

  .wax-networks {
    justify-content: space-between;
  }

  .wax-networks img {
    margin-top: 10px;
  }

  .telos-networks {
    justify-content: space-between;
    align-items: center;
  }

  .telos-networks img {
    margin-top: 10px;
    min-height: 10px;
  }

  .content {
    padding-bottom: 28px;
  }

  #d-version {
    margin-top: 45px;
  }

  .box-paragraph h4 {
    letter-spacing: 0.04px;
    margin-bottom: 24px;
  }

  .box-paragraph p {
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
  }

  .box-network h4 {
    margin-top: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.04px;
  }

  .footer {
    padding-bottom: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box-testnet {
    display: none;
  }

  .box-testnet-desktop {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
  }

  .box-column div {
    justify-content: center;
  }

  .box-column ul li {
    text-align: center;
  }

  #testnet-title {
    text-align: start;
  }

  #contact-us {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
  }

  #box-left {
    width: 100%;
  }

  .box-social-media {
    width: 35%px;
    margin-bottom: 8px;
    align-items: center;
    margin-top: 28.6px;
  }

  #box-right {
    justify-content: flex-end;
    align-items: end;
  }

  .eos-costa-rica {
    flex-direction: column;

    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .contact-us p {
    width: 860px;
    height: 108px;
    flex-grow: 0;
    margin: 0 0 16px;
    font-family: Nunito;
    font-size: 39.1px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.14px;
    text-align: center;
    color: #000;
  }
  .project-by {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
    margin: 0;
  }

  #copyright-desktop {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.3px;
    color: #000000;
  }

  #copyright {
    display: none;
  }

  #bg-image {
    position: absolute;
    z-index: 1;
    width: 340px;
    margin-left: 379px;
    display: inline;
    margin-top: -80px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-top: 58px;
    padding-bottom: 90px;
  }

  .section-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .box-paragraph h4 {
    font-size: 40px;
    line-height: 0.8;
    letter-spacing: -0.22px;
  }

  .box-paragraph p {
    width: 605.5px;
    height: 62.9px;
    flex-grow: 0;
    margin: 0 0 0.4px 8.5px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 0.73px;
    text-align: left;
    color: #000;
  }

  #d-version {
    width: 642px;
    margin-top: 24px;
  }

  #network-desktop > a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .box-network h4 {
    margin-top: 60px;
    font-size: 28px;
  }

  #bg-image {
    width: 850px;
    margin-left: 660px;
  }

  .content {
    padding-bottom: 90px;
  }

  .content h4 {
    margin-top: 70px;
  }

  .project-by {
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.22px;
  }

  .logo-text {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  #contact-us {
    width: 80%;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -0.22px;
  }
}

@media (min-width: 1200px) {
  .section-wrapper {
    margin-top: -40px;
  }

  .box-paragraph p {
    width: 1658px;
    height: 131px;
    flex-grow: 0;
    margin: 36.8px 54px 87.7px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000;
  }
  .header {
    display: flex;
    width: 100%;
  }

  .box-paragraph summary {
    flex-grow: 0;
    margin: 0 0 0 18.4px;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: -0.54px;
    text-align: left;
    color: #000;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo-text {
    display: flex;
    padding: 10px;
    align-self: center;
  }

  #bg-image {
    width: 1672px;
    height: 1062px;
    margin: -34px 0px 128px 192px;
    object-fit: contain;
    z-index: -1;
  }
}
