* {
  box-sizing: border-box;
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

summary {
  font-size: 40px;
}

html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Nunito';
}

details summary:hover {
  background-color: #f1f1f1;
}

details[open] summary {
  background-color: rgba(28, 203, 255, 0.2);
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

summary {
  list-style: inside;
  display: flex;
  text-align: center;
}
details summary {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #f9f9fc;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.info-icon {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.info-icon span {
  padding-left: 10px;
}

details summary:after {
  content: url(./images/chevron-down.png);
  position: absolute;
  right: 20px;
  transform: rotate(180deg);
}
details[open] summary::after {
  transform: rotate(0);
}

p {
  width: 605.5px;
  height: 62.9px;
  flex-grow: 0;
  margin: 0 0 0.4px 8.5px;
  font-family: 'Nunito';
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.73px;
  text-align: left;
  color: #000;
}


#bg-image-mobile {
  width: 100%;
}


.box-paragraph {
  margin-bottom: 24px;
}

.box-paragraph a {
  text-decoration: none;
  color: black;
}

.box-paragraph a:hover {
  text-decoration: underline;
}

.box-paragraph h4 {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.box-paragraph p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.07875px;
  text-align: justify;
  color: #000000;
}

.box-network h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: -0.219429px;
  color: #000000;
  margin: 0;
}


.header {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 47px;
  margin-left: 40px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-logo {
  margin-top: 10px;
  margin-left: 5px;
}

.content {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 40px;
}

.footer {
  background-color: #f9f9fc;
  padding-top: 20px;
  padding-bottom: 20px;
}


#box-right a {
  text-decoration: none;
}

.box-social-media {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}



.box-column div {
  width: 49%;
  display: flex;
  justify-content: center;
}




.box-column ul a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

.image-box-desktop {
  display: none;
}
.eos-costa-rica {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

#contact-us {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0595px;
  color: #000000;
  margin: 0;
  padding: 12px;
  margin-bottom: 36px;
}

.project-by {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  margin-left: 10px;
}

.logo-text {
  display: flex;
  padding: 10px;
  align-items: center;
}


@media (max-width: 649px) {
  .header {
    margin-left: 0px;
  }

  #copyright {
    width: 199.2px;
    height: 21px;
    margin: 0 53.4px 0 53.3px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.31px;
    text-align: center;
    color: #000;
  }
  .content {
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .box-network {
    flex-grow: 0;
    padding: 16px 0 16px;
    background-color: #f9f9fc;
  }

  #bg-image {
    display: none;
  }
  #middle-logo {
    content: url('./images/Antelope Tools Vertical 1@3x.png');
    height: 110px;
    width: 110px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .section-wrapper {
    padding-left: 0px;
  }

  details summary:after {
    height: 45px;
  }

  .info-icon {
    width: 80%;
  }
  .box-paragraph-text > p {
    height: 58px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    justify-content: center;
    width: 288px;
    margin: 16px auto auto auto;
  }

  .flex p {
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    width: 148px;
    height: 81px;
    margin: 16px 8px 16px 0px;
    padding: 8px 0px 8px 0px;
    border-radius: 4px;
    background-color: rgba(186, 239, 255, 0.6);
    text-align: center;
    color: black;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .flex2 {
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .visit-text {
    width: 288px;
    height: 58px;
    margin: 23px 43px 16px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin: auto auto 16px auto;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Line-5 {
    width: 108px;
    height: 2px;
    flex-grow: 0;
    margin: 5px 0px 0px 0px;
    background-color: #1ccbff;
  }

  .flex-text p {
    width: 104px;
    height: 18px;
    flex-grow: 0;
    margin: 0 2px 2px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .flex-text {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 8px;
    justify-items: center;
    margin-top: 16px;
    justify-content: center;
    text-align: center;
  }

  .grid img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  .grid-item {
    width: 140px;
    height: 156px;
    flex-grow: 0;
    margin: 0 8px 0 0;
    padding: 8px 29.4px 11.8px 30.4px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
      0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
  }

  .name-networks {
    width: 73px;
    height: 48px;
    flex-grow: 0;
    margin: 8px 4.2px 0 3px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .box-paragraph summary {
    flex-grow: 0;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: -0.54px;
    text-align: left;
    color: #000;
    padding: 10px;
  }

  .box-paragraph p {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    margin: 3px 0 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: #000;
    padding: 10px;
  }

  .footer {
    padding-bottom: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .test {
    display: flex;
  }
  .eos-costa-rica {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .eos-costa-rica h4 {
    flex-grow: 0;
    margin: -26px 0 -5.1px;
    font-family: Nunito;
    font-size: 11.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.31px;
    text-align: center;
    color: var(--colors-3-text-primary);
  }

  .contact-us p {
    width: 306px;
    height: 71px;
    flex-grow: 0;
    margin: 0 0 8px;
    font-family: Nunito;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.06px;
    text-align: center;
    color: #000;
  }

  .project-by {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
    margin: 0;
  }

  .logo-text {
    display: flex;
    padding: 10px;
    align-self: center;
    flex-direction: column;
  }

  .box-social-media {
    width: 100%;
    margin-bottom: 0px;
    align-items: center;
  }
  .footerTw {
    height: 22x;
    width: 26px;
  }
  .footerTl {
    height: 22px;
    width: 28;
  }
  .footerGit {
    height: 28px;
    width: 30px;
  }
  .footerLi {
    height: 27px;
    width: 28px;
  }

  .edeniaLogo {
    height: 26px;
    width: 155;
  }
}
@media (min-width: 650px) {
  .section-wrapper {
    width: 100%;
    padding-top: 40px;
    z-index: 2;
    position: relative;
  }
  .header {
    padding-top: 0px;
  }

  .box-paragraph-text > p {
    width: 265px;
    height: 68px;
    margin: 0px 450px 24px 20px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.23px;
    text-align: left;
    color: #000;
  }

  .flex p {
    width: 231.8px;
    height: 25.8px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000;
  }

  .Line-4 {
    width: 4px;
    height: 26px;
    flex-grow: 0;
    transform: rotate(-180deg);
    background-color: #1ccbff;
    border-radius: 5px;
    margin-left: 40px;
  }

  .Line-5 {
    width: 4px;
    height: 26px;
    flex-grow: 0;
    margin: 6px 0 0 0;
    transform: rotate(-180deg);
    background-color: #1ccbff;
    border-radius: 5px;
  }

  .flex-text p {
    width: 169px;
    height: 18px;
    flex-grow: 0;
    margin: 4px 0 4px 4px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.23px;
    text-align: left;
    color: #000;
  }

  .image-box {
    display: none;
  }

  .image-box-desktop {
    display: flex;
  }

  .image-box-desktop {
    width: 254px;
    height: 113px;
    margin-left: 20px;
    margin-right: 474px;
    margin-bottom: -22px;
  }

  .myButton {
    width: 245px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 23.9px 483px 59px 20px;
    padding: 8px 0;
    border-radius: 58px;
    box-shadow: 2px -12px 14px 0 rgba(53, 64, 82, 0.05);
    border: solid 2px #1ccbff;
    background-color: #d6f5ff;
  }
  .myButton:hover {
    text-decoration: none;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  .visit-text {
    width: 195px;
    height: 24px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.08px;
    text-align: center;
    color: #000;
    margin: auto;
  }

  .flex {
    display: flex;
    margin-bottom: 16px;
    margin-left: -20px;
  }
  .flex-text {
    display: flex;
    margin-bottom: 28px;
    margin-left: 20px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .grid img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    padding: 30.1px 16.9px 31.3px 30.1px;
    border-radius: 4px;
    box-shadow: 0 1.9px 5.6px 1.9px rgba(0, 0, 0, 0.15),
      0 1.9px 3.8px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 169px;
    width: 192px;
    justify-content: center;
  }

  .name-networks {
    flex-grow: 0;
    margin: 12px -5px 0px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .box-paragraph p {
    width: 688px;
    height: 79px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: #000;
    margin: 16px 0px 22px 0px;
  }

  .box-paragraph summary {
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.23px;
    text-align: left;
    color: #000;
  }

  #network-desktop {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
  }

  #network-mobile > a {
    display: flex;
    flex-direction: column;
  }

  #network-desktop > a:hover {
    color: grey;
    text-decoration: none;
  }

  .content {
    padding-bottom: 28px;
  }

  #d-version {
    margin-top: 45px;
  }

  .box-paragraph h4 {
    letter-spacing: 0.04px;
    margin-bottom: 24px;
  }

  .box-network h4 {
    margin-top: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.04px;
  }

  .footer {
    padding-bottom: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box-testnet-desktop {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
  }

  .box-column div {
    justify-content: center;
  }

  .box-column ul li {
    text-align: center;
  }

  #contact-us {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
  }

  #box-left {
    width: 100%;
  }

  .box-social-media {
    width: 50%;
    margin-bottom: 8px;
    align-items: center;
    margin-top: 28.6px;
  }

  #box-right {
    justify-content: flex-end;
    align-items: end;
  }

  .eos-costa-rica {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .eos-costa-rica h4 {
    flex-grow: 0;
    margin: -26px 0 -5.1px;
    font-family: Nunito;
    font-size: 11.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.31px;
    text-align: center;
    color: var(--colors-3-text-primary);
  }

  .contact-us p {
    width: 507.3px;
    height: 64px;
    flex-grow: 0;
    margin: 0 0 9.1px;
    font-family: Nunito;
    font-size: 23.1px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.08px;
    text-align: center;
    color: #000;
  }

  .project-by {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
    margin: 0;
  }

  .copyright {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.3px;
    color: #000000;
  }

  #bg-image {
    position: absolute;
    z-index: -1;
    height: 425px;
    width: 673px;
    right: 0;
    display: inline;
    margin: -40px 0 32px 95px;
  }

  .logo-text {
    display: flex;
    padding: 10px;
    align-self: center;
    flex-direction: column;
  }

  .box-social-media {
    width: 55%;
    margin-bottom: 0px;
    align-items: center;
  }
  .footerTw {
    height: 29px;
    width: 34px;
  }
  .footerTl {
    height: 30px;
    width: 37px;
  }
  .footerGit {
    height: 38px;
    width: 41px;
  }
  .footerLi {
    height: 37px;
    width: 40px;
  }

  .edeniaLogo {
    height: 26px;
    width: 156px;
  }

  #copyright {
    width: 199.2px;
    height: 21px;
    margin: 9.5px 154.1px 0 154px;
    font-family: Nunito;
    font-size: 10.6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.95;
    letter-spacing: 0.31px;
    text-align: center;
    color: #000;
  }
}
@media (min-width: 1200px) {
  .section-wrapper {
    width: 100%;
    z-index: 2;
    position: relative;
  }

  .flex-text p {
    width: 642px;
    height: 39px;
    flex-grow: 0;
    margin: 5px 0 6px 6px;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: -0.22px;
    text-align: left;
    color: #000;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }
  .box-paragraph-text > p {
    width: 628px;
    height: 164px;
    margin: 24px 1084px 56.1px 54px;
    font-family: Nunito;
    font-size: 68px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.57px;
    text-align: left;
    color: #000;
  }
  .header {
    display: flex;
    width: 100%;
  }

  .flex {
    margin-bottom: 41px;
  }
  .flex p {
    width: 605.5px;
    height: 62.9px;
    flex-grow: 0;
    margin: 0 0 0.4px 8.5px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 0.73px;
    text-align: left;
    color: #000;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }

  .grid img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    padding: 30.1px 16.9px 31.3px 30.1px;
    border-radius: 4px;
    box-shadow: 0 1.9px 5.6px 1.9px rgba(0, 0, 0, 0.15),
      0 1.9px 3.8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--colors-white);
    height: 318px;
    width: 361px;
  }

  .grid-item:hover {
    border: 2px solid #1ccbff;
    box-sizing: border-box;
  }
  .Line-4 {
    width: 10px;
    height: 63.3px;
    flex-grow: 0;
    margin: 0 8.5px 0 0;
    transform: rotate(-180deg);
    background-color: #1ccbff;
    border-radius: 5px;
    margin-left: 54px;
  }

  .Line-5 {
    width: 10px;
    height: 50px;
    flex-grow: 0;
    margin: 0 6px 0 0;
    transform: rotate(-180deg);
    background-color: #1ccbff;
  }

  .box-paragraph summary {
    flex-grow: 0;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: -0.54px;
    text-align: left;
    color: #000;
  }

  .flex-text {
    display: flex;
    margin-bottom: 28px;
    margin-left: 35px;
  }
  .box-paragraph p {
    width: 1658px;
    height: 131px;
    flex-grow: 0;
    margin: 36.8px 54px 87.7px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000;
  }

  .myButton {
    width: 596.9px;
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24.4px;
    margin: 56.2px 1115.2px 312.5px 40px;
    padding: 19.5px 0;
    border-radius: 63px;
    box-shadow: 4.9px -29.2px 34.1px 0 rgba(53, 64, 82, 0.05);
    border: solid 4.9px #1ccbff;
    background-color: #d6f5ff;
  }
  .myButton:hover {
    text-decoration: none;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  .visit-text {
    width: 475px;
    height: 59px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.19px;
    text-align: center;
    color: #000;
  }

  .name-networks {
    width: 301.3px;
    height: 45.9px;
    flex-grow: 0;
    margin: 22.6px 0 0;
    font-family: Nunito;
    font-size: 37.7px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .image-box-desktop {
    width: 605px;
    height: 264px;
  }
  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 174px;
  }

  .logo-text {
    display: flex;
    padding: 10px;
    align-self: center;
  }

  #bg-image {
    width: 1672px;
    height: 1062px;
    margin: -40px 0px 128px 192px;
    object-fit: contain;
    z-index: -1;
  }

  .box-social-media {
    width: 35%;
    margin-bottom: 0px;
    align-items: center;
  }
  .footerTw {
    height: 48px;
    width: 58px;
  }
  .footerTl {
    height: 48px;
    width: 61px;
  }
  .footerGit {
    height: 62px;
    width: 67px;
  }
  .footerLi {
    height: 60px;
    width: 63px;
  }

  .edeniaLogo {
    height: 46px;
    width: 262px;
  }

  .contact-us p {
    width: 860px;
    height: 108px;
    flex-grow: 0;
    margin: 0 0 16px;
    font-family: Nunito;
    font-size: 39.1px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.14px;
    text-align: center;
    color: #000;
  }

  .eos-costa-rica h4 {
    width: auto;
    flex-grow: 0;
    margin: 0 0 3.2px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.53px;
    text-align: center;
    color: var(--colors-3-text-primary);
  }

  #copyright {
    width: 337.8px;
    height: 36px;
    margin: 16.1px 261.2px 0 261px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.95;
    letter-spacing: 0.53px;
    text-align: center;
    color: #000;
  }
}
