* {
  box-sizing: border-box;
  font-family: 'Nunito';
}

body {
  margin: 0;
  font-family: 'Nunito';
}

.section-wrapper {
  width: 100%;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  position: relative;
}

#bg-image-mobile {
  width: 100%;
}

.box-paragraph {
  margin-bottom: 24px;
}

.box-paragraph a {
  text-decoration: none;
  color: black;
}

.box-paragraph a:hover {
  text-decoration: underline;
}

.box-paragraph h4 {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.box-paragraph p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.07875px;
  text-align: justify;
  color: #000000;
}

.box-network h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: -0.219429px;
  color: #000000;
  margin: 0;
}

#network-desktop {
  display: none;
}

.network-mobile {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 34px;
}

.more-networks {
  margin-top: 65px !important;
  text-align: center;
}

.wax-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  text-decoration: none;
  align-items: center;
}

.name-networks {
  text-align: center;
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.telos-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  text-decoration: none;
  align-items: center;
}

.eos-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
}

.jungle-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  text-decoration: none;
  align-items: center;
}

.lacchain-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  text-decoration: none;
  align-items: center;
}

.proton-networks {
  display: flex;
  flex-direction: column;
  width: 105px;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 47px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box-desktop {
  display: none;
}

#middle-logo {
  margin-top: 10px;
  margin-left: 5px;
}

.content {
  background-color: #f9f9fc;
  padding-top: 36px;
  padding-bottom: 40px;
}

.footer {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#box-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#box-right a {
  text-decoration: none;
}

.box-social-media {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}

.box-testnet {
  margin-bottom: 40px;
}

.box-testnet-desktop {
  display: none;
}

.box-column {
  display: flex;
}

.box-column div {
  width: 49%;
  display: flex;
  justify-content: center;
}

.box-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-column ul li {
  text-align: center;
}

.box-column ul a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

.testnet-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 31px;
  text-align: left;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.eos-costa-rica > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-us {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0595px;
  color: #000000;
  margin: 0;
  padding: 12px;
  margin-bottom: 36px;
}

.project-by {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  margin-left: 10px;
}

#copyright {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 36px;
}

#copyright-desktop {
  display: none;
}

#bg-image {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-top: 67px;
  }

  .image-box {
    display: none;
  }

  .network-mobile {
    display: none;
  }

  .image-box-desktop {
    display: flex;
  }

  .image-box-desktop img {
    width: 254px;
    height: 107px;
  }

  #network-desktop {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
  }

  #network-desktop > a {
    display: flex;
    flex-direction: column;
  }

  #network-desktop > a:hover {
    color: grey;
    text-decoration: underline;
  }

  .wax-networks {
    justify-content: space-between;
  }

  .wax-networks img {
    margin-top: 10px;
  }

  .telos-networks {
    justify-content: space-between;
    align-items: center;
  }

  .telos-networks img {
    margin-top: 10px;
  }

  .content {
    padding-bottom: 28px;
  }

  #d-version {
    margin-top: 45px;
  }

  .box-paragraph h4 {
    letter-spacing: 0.04px;
    margin-bottom: 24px;
  }

  .box-paragraph p {
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
  }

  .box-network h4 {
    margin-top: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.04px;
  }

  .footer {
    padding-bottom: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box-testnet {
    display: none;
  }

  .box-testnet-desktop {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
  }

  .box-column div {
    justify-content: flex-start;
  }

  .box-column ul li {
    text-align: start;
  }

  #testnet-title {
    text-align: start;
  }

  #contact-us {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
  }

  #box-left {
    width: 60%;
  }

  .box-social-media {
    width: 300px;
    margin-bottom: 8px;
  }

  #box-right {
    justify-content: flex-end;
    align-items: end;
  }

  .eos-costa-rica > div {
    justify-content: flex-start;
  }

  .project-by {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.06px;
    margin: 0;
  }

  #copyright-desktop {
    margin-bottom: 0;
    margin-top: 30px;
    display: inline;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.3px;
    color: #000000;
  }

  #copyright {
    display: none;
  }

  #bg-image {
    position: absolute;
    z-index: 1;
    width: 340px;
    margin-left: 379px;
    display: inline;
    margin-top: -80px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-top: 58px;
    padding-bottom: 90px;
  }

  .section-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .box-paragraph h4 {
    font-size: 40px;
    line-height: 0.8;
    letter-spacing: -0.22px;
  }

  .box-paragraph p {
    font-size: 20px;
  }

  #d-version {
    width: 642px;
    margin-top: 60px;
  }

  #network-desktop {
    margin-top: 80px;
  }

  #network-desktop > a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }

  .box-network h4 {
    margin-top: 60px;
    font-size: 28px;
  }

  #bg-image {
    width: 850px;
    margin-left: 660px;
  }

  .content {
    padding-bottom: 90px;
  }

  .content h4 {
    margin-top: 70px;
  }

  .project-by {
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.22px;
  }

  #contact-us {
    width: 80%;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -0.22px;
  }
}

@media (min-width: 1200px) {
  .section-wrapper {
    width: 1200px;
  }
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #bg-image {
    width: 750px;
    height: 650px;
    margin-top: 25px;
  }
}
