{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "esmodules": true },
        "useBuiltIns": "entry",
        "corejs": "3.1",
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-react"
  ]
}
