{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "jest": true,
    "browser": true
  }
}
