{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier/react",
    "prettier/standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "complexity": [
      "error",
      {
        "max": 21
      }
    ]
  }
}
