name: Build images from latest telos branch

on:
  push:
    branches:
      - telos

jobs:
  create-image:
    runs-on: ubuntu-latest
    environment: telos
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v1

      - name: Setup Docker
        uses: docker-practice/actions-setup-docker@0.0.1

      - name: Log in to docker registry
        run: |
          echo ${{ secrets.DOCKER_HUB_PASSWORD }} | docker login \
            --username ${{ secrets.DOCKER_HUB_USER }} \
            --password-stdin

      - name: Build new images and push
        run: |
          make \
            build-docker-images \
            push-docker-images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          # webapp
          PORT: 80
          REACT_APP_VERSION: $npm_package_version
          REACT_APP_NAME: $npm_package_name
          REACT_APP_TITLE: Telos Testnet Network Dashboard
          REACT_APP_DEFAULT_PRODUCER_LOGO: https://telos.bloks.io/img/chains/telos.png
          REACT_APP_FOOTER_LINKS:
            [
              { 'text': 'Website', 'src': '' },
              { 'text': 'Block Explorer', 'src': 'https://telos.bloks.io' },
              {
                'text': 'Developer Guidelines',
                'src': 'https://guide.eoscostarica.io'
              },
              {
                'text': 'GitHub',
                'src': 'https://github.com/eoscostarica/eosio-dashboard'
              }
            ]
          REACT_APP_EOS_RATE_LINK: ''
          REACT_APP_USE_REWARDS: true
          REACT_APP_USE_VOTES: true
          REACT_APP_USE_CPU_BENCHMARK: true
          REACT_APP_USE_BLOCK_PRODUCER_AGREEMENT_CONTRACT: true
          REACT_APP_HASURA_URL: https://graphql-testnet.eosio.cr/v1/graphql
          REACT_APP_EOS_API_NETWORK_NAME: telos
          REACT_APP_EOS_API_NETWORK_LABEL: Telos
          REACT_APP_EOS_API_NETWORK_LOGO: https://telos.bloks.io/img/chains/telos.png
          REACT_APP_EOS_API_HOST: telos-testnet.eosio.cr
          REACT_APP_EOS_API_PORT: 443
          REACT_APP_EOS_API_PROTOCOL: https
          REACT_APP_EOS_CHAIN_ID: 1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f
          REACT_APP_EOS_USE_BP_JSON_ON_CHAIN: false
          REACT_APP_EOS_BP_JSON_ON_CHAIN_CONTRACT: producerjson
          REACT_APP_EOS_BP_JSON_ON_CHAIN_TABLE: producerjson
          REACT_APP_EOS_BP_JSON_ON_CHAIN_SCOPE: producerjson
          REACT_APP_TOKEN_SYMBOL: ${{ secrets.REACT_APP_TOKEN_SYMBOL }}
